.form {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px 0 40px;
}

.form h2 {
  margin: 20px;
}

.nameInps{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 20px;
}

.form hr {
  margin: 0 20px;
}